fastapi
uvicorn[standard]
numpy
pillow  # Для обработки изображений (например, PIL.Image)
python-multipart  # если вдруг будете обрабатывать загрузку файлов через API
opencv-python-headless  # OpenCV для работы с изображениями, без GUI зависимостей
