# UI
gradio>=4.0.0

# Core Deep Learning & NLP
torch
torchvision
transformers>=4.37.0
accelerate
bitsandbytes
easyocr

# Data Handling & Scientific Computing
pandas
numpy
opencv-python-headless
Pillow
scikit-learn
scipy
PyYAML

# Metrics & Utilities
shapely
python-Levenshtein
nltk
natsort
gdown
tqdm